<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yml.newinfoindia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Search_Activity"
            android:label="@string/title_activity_search_" >
        </activity>
        <activity
            android:name=".Spinner_Activity"
            android:label="@string/title_activity_spinner_" >
        </activity>
        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name=".FacebookActivity"
            android:label="@string/title_activity_facebook" >
           
        </activity>
        <activity
            android:name=".SkipActivity"
            android:label="@string/title_activity_skip" >
        </activity>
        <activity
            android:name=".FbActivity"
            android:label="@string/title_activity_fb" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
